<!DOCTYPE html>

<html lang="ch">
<head>
    <meta charset="utf-8"/>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/CSS/jquery.mobile-1.4.5.min.css" />
    <script src="~/Scripts/jquery.min.js" ></script>
    <script src="~/Scripts/jquery.mobile-1.4.5.min.js"></script>

    <style>

    </style>
</head>
<body>    
    @RenderBody()
</body>
</html>
